@charset "UTF-8";


*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(141, 159, 172);
}

h1{
    text-align: center;
    background-color: gray;
    margin: auto;
    padding: 20px 0px;
}

div#form{
    background-color: blue;
    max-width: 70vw;
    margin: auto;
    text-align: center;
    font-size: 1em;
}

div#nome{
    padding: 10px;
    display: block;
    width: 200px;
}

div#idade{
    padding: 10px;
    margin: auto;
    display: block;
}

div#img{
    background-color: blue;
    max-width: 70vw;
    margin: auto;
}

footer{
    text-align: center;
    margin: auto;
    background-color: black;
    color: white;
}
